body {
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
  box-shadow: 5px 5px 5px grey;
}

.groups {
  margin-top: 70px;
  box-shadow: 2px 2px 2px grey;
}

.requests {
  height: 400px;
}

